
div{margin:0;border:0;padding:0;}
body {
    background: #F3F2ED;
	font-size:  small;
	margin-top:     0px;
	margin-left:    0px;
	padding:    0px;
	width:      100%;
}

#header{
    height:60px;
	width:1000px;
	margin:0px auto;
	background-color:#131313;
}

#menu {
    padding-left:50px;
	width: 900px;
	height:60px;
}
#menu ul {
	height:60px;
    list-style-type:none;
	margin: 0;
	padding: 0px;
}

#menu li {
	height:40px;
	float: left;
	padding: 20px 20px 0px 20px;

	-webkit-transition:background-color 500ms ease-in;
	-moz-transition:background-color 500ms ease-in;
	transition:background-color 500ms ease-in;
}
#menu li:hover{
       background-color:rgb(77, 100, 111);
}
#menu img {
     padding-top:5px;
     width:40px;
     height:40px;
	 float:left;
}
#menu a {
	height: 32px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	color: #FFFFFF;
	letter-spacing: -1px;
        
        transform:color 500ms ease-out;
        transform:font-size 500ms ease-out;
        transform:text-shadow 500ms ease-out;
}

#menu a:hover { 
	text-decoration:none; 
	color:rgb(0, 255, 221);
	
	-webkit-text-shadow: 2px 2px 8px #F3F2ED;
	-webkit-text-shadow: -2px -2px 8px #F3F2ED;

	text-shadow: 2px 2px 8px #F3F2ED;
	text-shadow: -2px -2px 8px #F3F2ED;
	
        font-size:120%;
}

#logo{
    margin-top:-22px;
	margin-left: auto;
	margin-right:auto;
	font-family: Helvetica, sans-serif;
	width:1000px;
	height:200px;
	background-image:url(images/banner.jpg);
	background-size:100% 100%;
}
#logo h1{
    padding-left:100px;
	padding-top:40px;
    letter-spacing:2px;
	font-size:250%;
	color: #66665E;
}
#logo p{
    padding-left:100px;    
	font-size:80%;
	font-style:italic;
	color:#444444;
}

#main{	
    margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
	width:           1000px;
	min-height:470px;
	border-color:    #FFFFF0;
	background-color:#FFFFF0;
	opacity:         0.8;
	box-shadow:2px 2px 2px 3px #2E4E7E;
}

#main h1{
    font-style:bold;
	margin-bottom:0px;
	font-weight: normal;
	color: #2E4E7E;
	font-family: Arial, Helvetica, sans-serif;
	line-height:10px;
	
}
.text{
    width:620px;
	margin-bottom: 15px;
	margin-right:10px;
	margin-left:30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E0E0E0;

}
.title{
height:20px;
}
.text h1{
    font-style:bold;
    padding-left:0px;
	margin-bottom:10px;
	margin: 0;
	font-weight: normal;
	color: #2E4E7E;
	font-family: Arial, Helvetica, sans-serif;
	line-height:30px;
	
}
.text p {
	margin-left: 2px;
	padding: 2px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #66665E;
}
#sidebar{
    margin-top:20px;
    width:300px;
	margin-right:40px;
	border:1px solid;
    float:right;
}
#sidebar  h2{
    height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #2E4E7E;
	margin:10px;
	padding-left:10px;
}


#sidebar ul {
    display:block;
	list-style: none;
	line-height: normal;	
}
#sidebar ul img{
    width:190px;
	height:200px;
}
#sidebar li {
    font-family: Arial, Helvetica, sans-serif;
	margin-top:10px;
	margin-bottom:20px;
	margin-left:20px;
	padding-left:10px;
	color: #666666;
}
#sidebar li:nth-child(2n){
    background: url(images/item.jpg) no-repeat left;
}
#footer {
    font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	padding-top:20px;
	border-top: 1px solid #E0E0E0;
}
#footer p{
    text-align:center;
	font-size:90%;
	color:#666666;
}

/*css for contact.html */
fieldset{
    width:900px;
	margin:20px auto;
    border:0px;
	border-radius:10px;
	background-color:#FFFFF0;
	opacity:         0.8;
	box-shadow:2px 2px 2px 3px #2E4E7E;
}
legend{
    font-size:15px;
    padding:5px;
	background-color:#2E4E7E;
	color:#FFFFF0;
	font-family:Arial, Helvetica, sans-serif;
}
#form{
	font-family:Arial, Helvetica, sans-serif;
    margin:20px auto 20px auto;
	width:500px;
	float:right;
}
#instruction{
	font-family:Arial, Helvetica, sans-serif;
    width:300px;
	margin-left:10px;
	margin-right:10px;
	margin-top:30px;
	float:left;
}
#instruction h1{
    padding-left:50px;
	font-size:120%;
	color: #2E4E7E;
	margin-bottom:30px;
}
#instruction p{
    margin-top:20px;
	color: #66665E;
	font-size:90%;

}

/*CSS for movies.php */
#postBar
{
    margin:0px auto;
	padding-top:20px;
    background:url(images/bg_posterbar.jpg);
	background-size:100% 150%;
	height:450px;
	width:1000px;
}
#postContainer{
	background-color:rgba(0,0,0,0);
    margin:0px auto;
	height:430px;
	width:1150px;
	
}
.post {
    float:left;
	padding:0px auto;
	margin-left:10px;
	margin-right:10px;
    width:400px;
	height:320px;
	background-color:rgba(0,0,0,0);
	margin-top:0px;
}
.post img{
    width:100%;
	height:100%;
}
#leftButton, #rightButton{
   float:left;
   font-size:25pt;
   border:none;
   background-color:rgba(0,0,0,0);
   margin-top:170px;
   color:rgba(255,255,255,0.2);
   outline:none;
   
   -webkit-transition:color 500ms linear;
   -moz-transition:color 500ms linear;
   -o-transition:color 500ms linear;
   -ms-transition:color 500ms linear;
   transition:color 500ms linear;
}

#leftButton:hover, #rightButton:hover,#leftButton:focus,#rightButton:focus{
   border:none;
   color:rgba(255,255,255,0.7);
}

#leftButton:active, #rightButton:active{
    border:none;
}
.showTable {
    width:100%;
    margin-top:5px;
	text-align:center;
    border:2px solid rgb(44, 47, 109);
}

.showTable td, .showTable th {
    padding: 5px 5px;
    font-size: 110%;
    font-family: Verdana;
    color: rgb(149, 170, 109);
}

.showTable thead, .showTable tr {
    border-top: 1px solid rgb(149, 170, 109);
	border-bottom: 1px solid rgb(149, 170, 109);
}

.showTable tr:nth-child(2n)
{
    background-color:  rgba(230, 238, 214,0.9);
}
.showTable tr:nth-child(2n+1) 
{
    background-color: snow;
}

.movie_info
{
    border:1px solid;
	border-radius:8px;
	margin-left:14px;
	width:650px;
	height:400;
	float:left;
	background-color:#fefefe;
	color:rgba(212, 217, 226, 1);
}
.movie_info img.poster{
    width:220px;
    height:310px;
	float:left;
}
#description{
    margin-left:10px;
	float:left;
	width:390px;
}
#description p{
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #66665E;
}
#description h1{
    margin-left:10px;
	margin-bottom:10px;
    font-style:bold;
	margin-bottom:0px;
	font-weight: normal;
	color: #2E4E7E;
	font-family: Arial, Helvetica, sans-serif;
	line-height:10px;
	border-bottom: 5px dotted #E0E0E0;
}

div.moviesMeta{
   margin-left:10px;
   float:left;
   width:230px;
   background-color:#F3F2ED;
   border:1px solid #2E4E7E;
}
div.moviesMeta img.poster_little{
    margin-left:5px;
	margin-top:5px;
    width:220px;
    height:310px;
	color:rgba(0, 161, 255);
}
div.moviesMeta h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14pt;
	color:#2E4E7E;
	padding-left:5px;
	line-height:5px;
}
div.moviesMeta p{
	font-family: Arial, Helvetica, sans-serif;
	color:#2E4E7E;
    font-size:10pt;
    margin-left:5px;
}
.side{
	font-family: Arial, Helvetica, sans-serif;
    border-radius:8px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); 
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); 
	float:left;
	margin-left:10px;
	box-shadow:1px 1px 1px 1px #2E4E7E;
	width:300px;
}
.side h2{
    height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #2E4E7E;
	margin:10px;
	padding-left:10px;
	border-bottom:1px dotted #66665E;
}
.side ul{
    list-style-type:none;
	padding-left:20px;
}
.side ul li{
   margin-top:8px;
}
.side ul li span{
  font-size:14pt;
  
  color: #2E4E7E; 
}
.side ul li p{
   margin-left:5px;
   display:inline;
}
.side ul li div{
   font-size:10pt;
   font-style:bold;
   padding-top:3px;
   float:right;
   margin-right:25px;
   border:1px solid;
   border-radius:5px;
   height:17px;
   width:100px;
   text-align:center;
   background-color:#FFFFF0;
}
.side ul li div:hover{
    color:#FFFFF0;
	background-color:#2E4E7E;
}


.selectArrow{
    width:0px;
	height:0px;
	border:8px solid;
	border-color:rgb(149, 170, 109) transparent transparent transparent;
	float:right;
	margin-top:5px;
	margin-right:7px;
}
.selectMenu{
    position:absolute;

    background-color:  rgba(230, 238, 214,0.9);
    color: rgb(149, 170, 109);
	width:160px;
	float:left;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
.selectMenu > label{
    padding-left:20px;
    line-height:25px;
    height:30px;
}
.selectMenu ul{
    margin:0px;
	padding:0px;
    list-style-type:none;
}
.selectMenu ul li  label{
   padding-left:0px;
}
.selectMenu ul li {
   height:22px;
   overflow:hidden;
}
.selectMenu ul li:hover {
   color:rgb(179, 255, 208);
   background-color:#152013;
}
.selectMenu ul li:nth-child(2n+1){
   background-color:snow;
}
.selectMenu ul li:nth-child(2n+1):hover{
   color:rgb(179, 255, 208);
   background-color:#152013;
}
.selectMenu ul li input[type="radio"]{
    position:relative;
    top:-15px;	
	left:-20px;
}
button.details{
    margin-right:5px;
	height:30px;
	width:90px;
	float:right;
	margin-bottom:10px;
    background-image:url(images/button_session.png);
	background-position:center;

}
button#btnReturn,button#btnBuy{
	height:30px;
	width:90px;
	background-size:100% 100%;
	margin:10px 30px;
	background-position:center;

}
button#btnBuy{

    background-image:url(images/button_buy.png);
}
button#btnReturn{

    background-image:url(images/button_return.png);
}
#buttonBox{
	width:650px;
    margin:0px auto;
}
table#cost{
   margin-top:80px;
}
div #selectMovie{
    top:50px;
	left:20px;
}
div #selectTime{
    top:50px;
	left:200px;
}
p.errorMessage{
    margin:3px 2px;
    padding-left:10px;
    font-family: Arial, Helvetica, sans-serif;
	color:rgb(213, 42, 65);
	font-size:110%;
    background-color:rgb(204, 207, 104);
    border:1px solid rgb(213, 42, 65);
	display:none;	
}
#btnSubmit,button#btnCancel{
	height:35px;
	width:90px;
	background-size:100% 100%;
	margin:10px 40px;
	background-position:center;

}
#btnSubmit{

    background-image:url(images/button_submit.png);
}
button#btnCancel{

    background-image:url(images/button_cancel.png);
}

#cart,#order{
float:right;
margin-right:5px;
font-family: Arial, Helvetica, sans-serif;
color:snow;
margin-top:10px;
padding-top:10px;
height:25px;
width:125px;
border-radius:5px;
border:2px solid #2E4E7E;
text-align:center;
}
#cart:hover,#order:hover{
background-color:snow;
color:#2E4E7E;
}
#order{
position:relative;
}
#orderform{
text-align:left;
padding-top:10px;
position:absolute;
top:35px;
width:280px;
height:100px;
background-color:#131313;
border-radius:5px;
border:2px solid #2E4E7E;
display:none;
}
/*media query for resize screen*/
@media screen and (max-width: 600px) {
    #movieMenu
       {
	   width:420px;
	   top:0px;
    }
    #moviesShow{
       width:400px;
    }
    div.moviesMeta{
       float:none;
    }
    aside#bookingList
      {   
        float:none;
	    width:400px;
    }
	
	#postBar{
	   display:none;
	}
}